<header class="site-header">
  <div class="row">

    <!--year-specific workshop info-->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5 col-xl-4 offset-xl-1">

      <div class="jumbotron">
        <img class="img-fluid" src="{{ year_config.logo_path | relative_url }}">
        <h5 class="text-center mt-0">{{ year_config.date }}</h5>
        <p class="text-center mt-4 mb-4">{{ year_config.full_title }}</p>
        <p class="text-center mb-0">{{ year_config.location }}</p>
      </div>

    </div>

    <!--slide show-->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7 col-xl-6">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

          {% for slide in year_config.slideshow %}
            {% if page.slide_id and page.slide_id == slide.id %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item">
            {% endif %}
            <!--<img class="img-fluid" src="{{ site.baseurl }}{{ slide.image_path }}" alt="{{ slide.description }}">-->
            <img class="img-fluid" src="{{ slide.image_path | relative_url }}" alt="{{ slide.description }}">
            <div class="carousel-caption d-none d-md-block text-muted">
              <p class="align-bottom"> {{ slide.description }}, by <a href="{{ slide.photographer_link }}">{{slide.photographer_name}}</a>, under <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">Creative Commons license</a>.</p>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <!--navbar-->
      <div class="mynav col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1">
        <nav class="nav navbar-toggleable-sm navbar-inverse">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarToggler">
            <a class="navbar-brand" href="#"> </a>
            <ul class="navbar-nav mx-auto text-center">
              {% include nav-item.html label="Home" path="/" %}
              {% include nav-item.html label="Organization" path="/organization" %}
              {% include nav-item.html label="CfP" path="/cfp" %}

              {% if year_data.submission and year_data.submission.nav_hidden != true %}
                {% include nav-item.html label="Submission" path="/submission" %}
              {% endif %}

              {% if year_data.program and year_data.program.nav_hidden != true %}
                {% include nav-item.html label="Program" path="/program" %}
              {% endif %}

              {% if year_data.venue and year_data.venue.nav_hidden != true %}
                {% include nav-item.html label="Travel" path="/venue" %}
              {% endif %}

              {% if year_data.registration and year_data.registration.nav_hidden != true %}
                {% include nav-item.html label="Registration" path="/registration" %}
              {% endif %}

              {% if year_data.keynote and year_data.keynote.nav_hidden != true %}
                {% include nav-item.html label="Keynote speakers" path="/keynote" %}
              {% endif %}

              {% if year_data.shortcourse and year_data.shortcourse.nav_hidden != true %}
                {% include nav-item.html label="Short course" path="/shortcourse" %}
              {% endif %}

              {% if year_data.events and year_data.events.nav_hidden != true %}
                {% include nav-item.html label="Events" path="/events" %}
              {% endif %}

              {% if year_data.special_issue and year_data.special_issue.nav_hidden != true %}
                {% include nav-item.html label="Special Issue" path="/special-issue" %}
              {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
              {% if year_config.social_media.facebook_link != nil %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ year_config.social_media.facebook_link }}">
                    <span class="fa-stack">
                      <i class="fa fa-facebook-square fa-stack-1x"></i>
                    </span>
                  </a>
                </li>
              {% endif %}
              {% if year_config.social_media.twitter_link != nil %}
              <li class="nav-item">
                <a class="nav-link" href="{{ year_config.social_media.twitter_link }}">
                  <span class="fa-stack">
                    <i class="fa fa-twitter-square fa-stack-1x"></i>
                  </span>
                </a>
              </li>
              {% endif %}
            </ul>

          </div>
        </nav>
      </div>

    </div>
</header>