<table class="table table-bordered schedule-table">
  <thead>
    <tr>
      {% for heading in include.schedule.headings %}
        <th>{{ heading }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in include.schedule.rows %}
      <tr>
        {% for cell in row %}
          {% if forloop.first %}
            <td class="time-col">{{ cell }}</td>
          {% else %}
            <td>{{ cell | markdownify }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
