---
layout: page
---

{%- assign path_year = page.dir | default: "/" | remove_first: "/" | split: "/" | first | default: "" -%}
{%- if path_year == "" -%}
  {%- assign year = page.year | default: site.current_year -%}
{%- else -%}
  {%- assign year = page.year | default: path_year -%}
{%- endif -%}
{%- assign year_data = site.data.years[year] -%}
{%- assign conference = year_data.conference -%}
{%- assign page_extension = page.name | split: "." | last -%}
{%- assign include_path = "pages/" | append: year | append: "/" | append: page.name -%}

{%- capture workshop_content -%}
  {% include {{ include_path }} %}
{%- endcapture -%}
{%- if page_extension == "md" -%}
  {{ workshop_content | markdownify }}
{%- else -%}
  {{ workshop_content }}
{%- endif -%}
